.main{
    margin-top:1.938rem;
      margin-left:8.438rem;
       margin-right:8.438rem;
}
.sizebtn{
    width:1.875rem;
}
.delicon{
    width:1.563rem;
    height:1.563rem;
}
.carttotal{
    width:25rem
}